/* #region - MAIN */
.btn {
    --btn-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    background-color: var(--btn-color);
    color: var(--btn-txt-color);
    transition: var(--btn-transition);
    border: 2px solid var(--btn-color);
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    filter: brightness(0.85);
}
.btn:focus {

}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

/* #endregion */

/* #region - SIZE */
.btn--xs {
    padding: 0.4rem 1rem;
    font-size: .75rem;
}
.btn--sm {
    padding: 0.4rem 1rem;
    font-size: 1rem;
}

.btn--normal {
    padding: 0.8rem 1.5rem;
    font-size: 1.25rem;
}

.btn--lg {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.btn--xl {
    padding: 1.2rem 2.5rem;
    font-size: 1.75rem;
}
.btn--xxl {
    padding: 1.4rem 3rem;
    font-size: 2rem;
}
/* #endregion */

/* #region - COLOR */
.btn--primary {
    --btn-color: var(--color-primary);
}
.btn--secondary {
    --btn-color: var(--color-secondary-dark);
}
.btn--tertiary {
    --btn-color: var(--color-tertiary);
}
.btn--default {
    --btn-color: var(--color-default);
}
.btn--success {
    --btn-color: var(--color-success);
}
.btn--info {
    --btn-color: var(--color-info);
}
.btn--warning {
    --btn-color: var(--color-warning);
}
.btn--danger {
    --btn-color: var(--color-danger);
}
/* #endregion */

/* #region - STYLE */
.btn--outline {
    background-color: transparent;
    color: var(--btn-color);
}
.btn--outline:hover {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    color: white;
}
.btn--transparent {
    background-color: transparent;
    border: transparent;
    color: var(--btn-color);
}
.btn--transparent:hover {
    background-color: color-mix(in srgb, var(--btn-color) 10%, transparent);
    border-color: color-mix(in srgb, var(--btn-color) 10%, transparent);
}
.btn--link {
    background: none;
    border: none;
    color: var(--btn-color);
    padding: 0;
    text-decoration: underline;
}
.btn--loading {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
}
/* #endregion */

