:root {
    /* main colors */
    --color-primary: #384436;
    /* --color-primary: #E2EDD9; */

    --color-secondary: #9d6331;
    /* --color-secondary-dark: hsl(32, 100%, 35%); */

    --color-cream: #fcf6ea;
    --color-cream-bg: #f5e2bc;

    /* alert colors */
    --color-default: #494f52;
    --color-success: hsl(134, 61%, 40%);
    --color-info: hsl(188, 78%, 40%);
    --color-warning: hsl(45, 100%, 45%);
    --color-danger: hsl(354, 70%, 50%);

    /* text */
    --color__text--normal: black;
    --color__text--invert: white;
    /* --color__text--green: #4F6443; */

    /* backgrounds */

    /* borders */

    /* grays */
}